# Python
__pycache__/
*.py[cod]
*$py.class

# ROMs
ROMs/

# Temporary files
*.tmp

# PyInstaller
build/
dist/

# Settings & Secrets
settings.json
ra_cache.json
data/metadata_cache.json
data/tgdb_mappings.json
TheGamesDB_API_Specs.yaml

reddit_romifleur_v3.md
nul
.idea/workspace.xml
